
body {
    margin:0;
    padding:25px;
    background:hsla(0, 0%, 0%, 0.976);  
}

.area{
     
    background: -webkit-linear-gradient(to left, hsl(240, 100%, 15%), hsl(193, 100%, 22%));  
    width: 100%;
}
.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, hsl(193, 100%, 22%) 30%, hsl(240, 100%, 15%) 70% );
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}
.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}
.bg3 {
  animation-duration:5s;
}
.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.MainClass, .MainBranch{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.MainClass p {
    margin: 0 0 50px 0;
}


.avatar {
  width:150px;
  border-radius:50%;
  border: 1px solid #ffffff57;

}

h1 { 
    color:#fff;
    font-family: 'Hammersmith One', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align:center;
}

p {
    color: #fff;
    font-family: 'Poppins', sans-serif;    font-style:italic;
    text-align: center;
}

.MainBranch {
    gap:25px;
}

 a {
    text-decoration: none;
}

 .node {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 0.5px solid #ffffff57;
    border-radius:50px;
    padding: 10px 30px;
    width:380px;
    cursor:pointer;
    background: linear-gradient(90deg, rgb(64, 0, 106) 0%, rgba(253,29,29,1) 50%, rgb(174, 102, 0) 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);rgb(195, 0, 0);
    transition: 1.5s;
}

.node:hover{
    background:rgba(0, 0, 0, 0.575);
    transform: scale(1.05);
}

i.fa-brands , i.fa-solid, i.fa-regular{
    color:#fff;
    line-height: 1;
    margin:1px 05px;
    font-size: 20px;
    text-align: start;
}

.node span {
    color:#fff;
    font-family:hammersmith one;
    margin:0 10px;
    font-size:20px;
}

.social {
    display:flex;
    flex-direction: row;
    margin:50px 0;
    gap:10px;
}

.fa-brands.fa-linkedin,
.fa-brands.fa-instagram,
.fa-brands.fa-facebook, 
.fa-brands.fa-x-twitter {
  font-size: 25px;
  transition:0.5s;
  opacity:.75;
}

.fa-brands.fa-linkedin:hover, .fa-brands.fa-instagram:hover, .fa-brands.fa-facebook:hover, .fa-brands.fa-x-twitter:hover {
  transform: scale(1.25);
  opacity:1;
}
