body {
    background: linear-gradient(to right, #000046, #1cb5e0); 
    margin:0;
    padding:25px;
}

.MainClass, .MainBranch{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

h1 { 
    color:#fff;
    font-family: 'Hammersmith One', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p, span {
    color: #fff;
    font-family: 'Poppins', sans-serif;    font-style:italic;

}

.node {
    display: flex;
    flex-direction: row;
}

i.fa-brands {
    color:#fff;
    line-height: 0.4;
}

